<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Heroes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Heroes</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Loop through array and display all heros in array with cards for nice look-->
  <ion-card *ngFor="let hero of heroData">
    <ion-card-header>
      <img src="{{hero.Picture}}">
      <ion-card-subtitle>{{hero.Name}}</ion-card-subtitle>
      <ion-card-title>{{hero.Hero}}</ion-card-title>
      <ion-card-title>Power: {{hero.Stat}}</ion-card-title>
    </ion-card-header>
    <ion-card-content><b>First Appearnace:</b> {{hero.First}}</ion-card-content>
  </ion-card>

  <!--Created hero information if they add it-->
  <ion-card>
    <ion-card-header>
      <img src={{cHPicture}}>
      <ion-card-subtitle>{{cHName}}</ion-card-subtitle>
      <ion-card-title>{{cHMadeName}}</ion-card-title>
      <ion-card-title>Power: {{cHPower}}</ion-card-title>
    </ion-card-header>
    <ion-card-content><b>First Appearnace:</b> {{cHFirst}}</ion-card-content>
  </ion-card>

  <!--Tabs to cycle through pages of the app-->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Home" [routerLink]="['/home']">
        <ion-icon name="Home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="Heroes" [routerLink]="['/heroes']">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Heroes</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="create" [routerLink]="['/create']">
        <ion-icon name="add"></ion-icon>
        <ion-label>Create</ion-label>
      </ion-tab-button>
       
      <ion-tab-button tab="battle" [routerLink]="['/battle']">
        <ion-icon name="skull"></ion-icon>
        <ion-label>Battle!</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
